# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: Transportar hub
host:  hubmudancas.com.br
basePath: /v2
schemes:
  - http
# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /transportadoras:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      produces:
        - application/json
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: offset
          in: query
          description: Deslocamento dentro da coleção
          required: true
          type: number
          format: int
        -
          name: limit
          in: query
          description: Tamanho da coleção
          required: true
          type: number
          format: int
        -
          name: query
          in: query
          description: Campos utilizados para a pesquisa. 
          required: true
          type: array
          items: 
            type: string
        -
          name: fields
          in: query
          description: Campos que serão retornados da pesquisa.
          required: true
          type: array
          items: 
            type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Transpotadoras
            type: array
            items:
              $ref: "#/definitions/Transpotadora"
    post:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      consumes:
        - application/json
      produces:
        - application/json      
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: body
          in: body
          description: Objeto da transportadora
          required: true
          schema:
            $ref: "#/definitions/Transpotadora"
      # Expected responses for this operation:
      responses:
        # Response code
        201:
          description: Criado com sucesso
 
  /transportadoras/{transportadoraId}:                  
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: transportadoraId
          in: path
          description: Identificador da transportadora
          required: true
          type: number
          format: int
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Transpotadora
            $ref: "#/definitions/Transpotadora"
    put:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: transportadoraId
          in: path
          description: Identificador da transportadora
          required: true
          type: number
          format: int        
        -
          name: body
          in: body
          description: Objeto da transportadora
          required: true
          schema:
            $ref: "#/definitions/Transpotadora"
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
    delete:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: transportadoraId
          in: path
          description: Identificador da transportadora
          required: true
          type: number
          format: int        
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
  /clientes:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: offset
          in: query
          description: Deslocamento dentro da coleção
          required: true
          type: number
          format: int
        -
          name: limit
          in: query
          description: Tamanho da coleção
          required: true
          type: number
          format: int
        -
          name: query
          in: query
          description: Campos utilizados para a pesquisa. 
          required: true
          type: array
          items: 
            type: string
        -
          name: fields
          in: query
          description: Campos que serão retornados da pesquisa.
          required: true
          type: array
          items: 
            type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Clientes
            type: array
            items:
              $ref: "#/definitions/Cliente"

    post:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Clientes` cadastrados.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: body
          in: body
          description: Objeto Cliente
          required: true
          schema:
            $ref: "#/definitions/Cliente"
      # Expected responses for this operation:
      responses:
        # Response code
        201:
          description: Criado com sucesso
  /clientes/{clienteId}:                  
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: clienteId
          in: path
          description: Identificador do cliente
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Cliente
            $ref: "#/definitions/Cliente"
    put:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Clientes` cadastrados.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: clienteId
          in: path
          description: Identificador do cliente
          required: true
          type: number
          format: int        
        -
          name: body
          in: body
          description: Objeto Cliente
          required: true
          schema:
            $ref: "#/definitions/Cliente"

      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso                  
    delete:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: number
          format: int
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: number
          format: int 
        -
          name: clienteId
          in: path
          description: Identificador do cliente
          required: true
          type: number
          format: int 
        # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean 
  /orcamentos:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: offset
          in: query
          description: Deslocamento dentro da coleção
          required: true
          type: number
          format: int
        -
          name: limit
          in: query
          description: Tamanho da coleção
          required: true
          type: number
          format: int
        -
          name: query
          in: query
          description: Campos utilizados para a pesquisa. 
          required: true
          type: array
          items: 
            type: string
        -
          name: fields
          in: query
          description: Campos que serão retornados da pesquisa.
          required: true
          type: array
          items: 
            type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Orcamento
            type: array
            items:
              $ref: "#/definitions/Orcamento"
    post:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: number
          format: int
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean 
  /orcamentos/{orcamentosId}:                  
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: orcamentosId
          in: path
          description: Identificador do orçamento
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Orcamento
            $ref: "#/definitions/Orcamento"
    put:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: orcamentosId
          in: path
          description: Identificador do orçamento
          required: true
          type: number
          format: int       
        -
          name: body
          in: body
          description: Objeto Orcamento
          required: true
          schema:
            $ref: "#/definitions/Orcamento"

      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso                 
    delete:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: number
          format: int
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: number
          format: int 
        -
          name: orcamentosId
          in: path
          description: Identificador do orçamento
          required: true
          type: number
          format: int 

      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean 
  /mudanca:
    # This is a HTTP operation
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: offset
          in: query
          description: Deslocamento dentro da coleção
          required: true
          type: number
          format: int
        -
          name: limit
          in: query
          description: Tamanho da coleção
          required: true
          type: number
          format: int
        -
          name: query
          in: query
          description: Campos utilizados para a pesquisa. 
          required: true
          type: array
          items: 
            type: string
        -
          name: fields
          in: query
          description: Campos que serão retornados da pesquisa.
          required: true
          type: array
          items: 
            type: string
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Mudança
            type: array
            items:
              $ref: "#/definitions/Mudanca"
    post:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: number
          format: int
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean 
  /mudanca/{mudancaId}:                  
    get:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: mudancaId
          in: path
          description: Identificador da mudança
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: Mudanca
            $ref: "#/definitions/Mudanca"
    put:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Mudanças` cadastradas.
      # This is array of GET operation parameters:

      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: string
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: string
        -
          name: mudancaId
          in: path
          description: Identificador da mudança
          required: true
          type: number
          format: int    
        -
          name: body
          in: body
          description: Objeto Mudança
          required: true
          schema:
            $ref: "#/definitions/Mudanca"

      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Sucesso                  
    delete:
      # Describe this verb here. Note: you can use markdown
      description: |
        Recuperar lista de `Trasportadoras` cadastradas.
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        -
          name: client_id
          in: header
          description: Token da app
          required: true
          type: number
          format: int
        -
          name: access_token
          in: header
          description: Token do usuário autenticado para uma app
          required: true
          type: number
          format: int 
        -
          name: mudancaId
          in: path
          description: Identificador da mudança
          required: true
          type: number
          format: int 
      # Expected responses for this operation:
      responses:
        # Response code
        200:
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          schema:
            title: ArrayOfPersons
            type: array
            items:
              title: Person
              type: object
              properties:
                name:
                  type: string
                single:
                  type: boolean                   
securityDefinitions:
  client_id:
    type: apiKey
    name: client_id
    in: header
  access_token:
    type: apiKey
    name: access_token
    in: header    
definitions:
  Transpotadora:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      cnppj:
        type: string
      Endereco:
        $ref: "#/definitions/Endereco"
      email:
        type: string
      password:
        type: string
      phone:
        type: string
  Cliente:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      Endereco:
        $ref: "#/definitions/Endereco"
      email:
        type: string
      password:
        type: string
      phone:
        type: string
  Orcamento:
    type: object
    properties:
      id:
        type: integer
        format: int64
      clientid:
        type: integer
        format: int64
      enderecoOrigem:
        $ref: "#/definitions/Endereco"
      enderecoDestino:
        $ref: "#/definitions/Endereco"
      dataDesejada:
        type: string
      dataLimite:
        type: string
      dataProposta:
        type: string
      orcamentoStatus:
        type: string
        description: Status do orçamento [Proposta, Recusado, Aceito]
  Mudanca:
    type: object
    properties:
      id:
        type: integer
        format: int64
      orcamentos:
        type: array
        items:
          $ref: "#/definitions/OrcamentoMudanca"
      mudancaStatus:
        type: string
        description: Status da mudança
  OrcamentoMudanca:
    properties:
      idOrcamento:
        type: integer
        format: int64
      dataProposta:
        type: string
  Endereco:
    type: object
    properties:
      id:
        type: integer
        format: int64
